* {

    box-sizing: border-box;
    font-family: "Oswald";
    padding: 0;

}

.wrapping {
    height: 100vh;
    width: 100vw;
  
}

.left {
    display: inline-block;
    width: 60%;
}

.right {
    position: absolute;
    right: 0;
    height: 100%;
    display: inline-block;
    width: 40%;
    background-color: rgba(93, 93, 125, 0.16);
}

p {
    margin-left: 5%;
    width: 540px;
    color: #5D5D7D;
    font-family: Oswald;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    opacity: 0.6;
}

h1 {
   margin-left: 5%;
    margin-top: 20%;
    width: 368px;
    color: #5D5D7D;
    font-family: Oswald;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
}

button {
    margin-left: 5%;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 269px;
    height: 62px;
    flex-shrink: 0;
    background-color: #9499EA;
    filter: drop-shadow(0px 10px 24px rgba(148, 153, 234, 0.10));
    border-radius: 16px;
    cursor: pointer;
    border: none;
}

img {
    width: 400px;
    height: 500px;
    right: 22%;
    position: absolute;
    top: 28%;
}

header {
    margin-left: 20px;
    margin-top: 20px;
    color: #5D5D7D;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-spacing: 41px;
}

a:nth-child(2) {
    opacity: 0.4;
}

@media screen and (max-width: 900px) {

    .left {
        height: 43%;
        width: 100%;
        display: block;
        padding: 0;
       
    }

    .right {
        height: 50%;
        width: 100%;
        display: block;
        padding: 0;
        left: 2%;
       
     
    }

    header {
        display: none;
    }

    img {
       
       position: absolute;
        bottom: 0;
       width: 300px;
        height: 400px;
       left:10%;
    }

   h1{
    font-size: 36px;
    text-align: center;
    width: 268px;
    line-height: 52px;
    margin-left: 20%;
    margin-top: 20%;
   }

    p {
        width: 296px;
        color: #5D5D7D;
        text-align: center;   
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-top: 1%;
        margin-left: 20%;
    }
    button{
        margin-left: 22%;
    }
}